@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input::-ms-reveal,
input::-ms-clear {
    display: none !important;
}

/* CSS for input when autofilled in Webkit browsers */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color: transparent !important;
    font-family: "montserrat", sans-serif !important;
}
.splide {
    padding-bottom: 4rem;
}

.splide__slide.is-active img {
    opacity: 100%;
    transform: scale(1);
}

.splide__slide img {
    opacity: 50%;
    transform: scale(0.8);
    width: 100%;
    height: auto;
}

ul.splide__pagination {
    gap: 1rem;
}

button.splide__pagination__page {
    background-color: #c7cda7;
    transform: scale(1.5);
    transition: all;
}

button.splide__pagination__page.is-active {
    background-color: #6f7748;
    width: 1.5rem;
    border-radius: 9999px;
    transform: scale(1.5);
    transition: all;
}

@layer components {
    .c-container {
        @apply px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 2xl:px-24;
    }
}

@keyframes bounce-hero {
    0%, 100% {
        transform: translateY(5%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: translateY(-5%);
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.bounce-hero{
    animation: bounce-hero 14s infinite;
}

@keyframes bounce-hero-2 {
    0%, 100% {
        transform: translateY(-5%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: translateY(5%);
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.bounce-hero-2{
    animation: bounce-hero-2 15s infinite;
}

/* CSS: Apply the initial styles to each content container */
.content-container {
    opacity: 0;
    transform: translateX(-20px); /* Optional: Start off-screen to the left */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

